<a href="https://colab.research.google.com/github/l6s6/Python-Ai/blob/main/stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Import the libraries
import math
import pandas_datareader as web
import numpy as np
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")

In [ ]:
#Get stock quote 
df = web.DataReader("MSFT", data_source="yahoo", start="2015-01-01", end="2020-11-01")
#Show data
df

                  High         Low  ...      Volume   Adj Close
Date                                ...
2015-01-02   47.419998   46.540001  ...  27913900.0   41.647892
2015-01-05   46.730000   46.250000  ...  39673900.0   41.264908
2015-01-06   46.750000   45.540001  ...  36447900.0   40.659245
2015-01-07   46.459999   45.490002  ...  29114100.0   41.175831
2015-01-08   47.750000   46.720001  ...  29645200.0   42.387146
...                ...         ...  ...         ...         ...
2020-10-26  216.339996  208.100006  ...  37111600.0  210.080002
2020-10-27  214.669998  210.330002  ...  36700300.0  213.250000
2020-10-28  208.839996  202.100006  ...  51195600.0  202.679993
2020-10-29  207.360001  203.369995  ...  31432600.0  204.720001
2020-10-30  204.289993  199.619995  ...  36953700.0  202.470001

[1469 rows x 6 columns]